    body, p { 
        font-family: sans-serif; 
        margin: 0;
    } 
    pre, table { 
        font-family: 'andale-mono', 'DejaVu Sans Mono', monaco, courier, fixed-width; 
        font-size: 12px; 
        margin: 0;
    } 
    td { 
        padding: 2px 8px; 
        border-bottom: 1px solid #eee; 
        } 
    th {
        padding: 2px 8px; 
    }
    tr:hover {
        background-color: #fee;
    }
    th:hover {
        background-color: transparent;
    }
    table { 
        border-collapse: collapse; 
        margin: 5px; 
    } 
    h1, h2 {
        margin: 0.2em 0px;
    }
    h2 {
        font-size: 1.2em;
    }
    .data { 
        background-color: #aaa; 
        color: white; 
        font-size: 80%; 
        border: 1px; 
        /*border-radius: 2px;*/ 
    } 
    .comm { 
        color: green; 
    } 
    .reg {
        color: purple;
    }
    .knum { 
        color: #a00; 
    } 
    .inst { 
        color: dark blue; 
        font-weight: bold; 
    } 
    .flags { 
        color: light blue; 
        font-weight: normal; 
    } 
    .addr { 
        background-color: #eee; 
        font-size: 80%; 
    } 
    .refs { 
        font-size: 80%; 
    } 
    #toolbar {
        width: 7em;
        height: 100%;
        float: left;
        position: fixed;
        margin-top: 3em;
        background-color: #efebf3;
    }
    .funcmenu {
        border: solid 1px;
        width: 20em;
    }
    #toolbar li {
        display: block;
        margin: 0px;
        list-style: none;
        margin: 5px 3px 3px -2em;
        padding: 2px 4px;
        background-color: #eef;
        border-radius: 2px;
    }

    #main {
        margin-left: 8em;
        padding-top: 15px;
        position: relative;
        top: 2.5em;
    }
    #title {
       position: fixed;
       background-color: white;
       width: 100%;
       padding: 0px 15px;
       z-index: 10;
    }
    a:link, a:visited, a.active {
        text-decoration: none;
    }
    a:hover, a.active {
        color: red;
    }
